body {
    background-color: black;
    color: white;
    font-family: monospace;
}

form#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: 1px solid white;
    border-radius: 1em;
    padding: 2em;
}

form#main.success,
form#main.success>button {
    border-color: green;
}

form#main.fail,
form#main.fail>button {
    border-color: red;
}

input,
button {
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    outline: none;
}

button {
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}